/* Definisci le variabili CSS per il tema chiaro */
:root {
    --background-color: white;
    --text-color: #333;
    --border-color: #fbfbfb;
    --input-background-color: #fff;
    --input-text-color: #333;
    --input-border-color: #fbfbfb;
    --button-background-color: transparent;
    --button-hover-background-color: #e0faf1;
    --sidebar-background-color: #fbfbfb;
    --sidebar-shadow-color: rgba(0, 0, 0, 0.25);
    --conversation-item-hover-background-color: #f0f0f0;
    --selected-conversation-background-color: #e0faf1;
}

/* Definisci le variabili CSS per il tema scuro */
body.dark-theme {
    --background-color: #121212;
    --text-color: #ffffff;
    --border-color: #444;
    --input-background-color: #333;
    --input-text-color: #fff;
    --input-border-color: #444;
    --button-background-color: transparent;
    --button-hover-background-color: #005662;
    --sidebar-background-color: #1e1e1e;
    --sidebar-shadow-color: rgba(0, 0, 0, 0.25);
    --conversation-item-hover-background-color: #444;
    --selected-conversation-background-color: #005662;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
    box-sizing: border-box;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    transition: margin-left 0.3s;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#modelSelector {
    margin-top: 10px;
    padding: 5px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-color: var(--input-background-color);
    color: var(--input-text-color);
    min-width: 200px;
}

#modelSummaryContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
}

#modelSummary {
    font-size: 12px;
    margin-top: 10px;
    margin-right: 6px;
}

#chatContainer {
    border: 1px solid var(--border-color);
    padding: 10px;
    background-color: var(--input-background-color);
    height: 65vh;
    overflow-y: scroll;
    border-radius: 5px;
}

#chatMessages {
    display: flex;
    flex-direction: column;
}

.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.user-message {
    background-color: #e0faf1;
    align-self: flex-end;
}

body.dark-theme .user-message {
    background-color: var(--button-hover-background-color);
}

.assistant-message {
    background-color: var(--input-background-color);
    align-self: flex-start;
}

body.dark-theme .assistant-message {
    background-color: var(--input-background-color);
}

.icon {
    width: 20px;
    height: 20px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inputContainer {
    display: flex;
    position: fixed;
    bottom: 6px;
    width: 100%;
    max-width: 800px;
    background-color: var(--input-background-color);
    border-top-color: var(--input-border-color);
}

#userInput {
    flex: 1;
    padding: 10px;
    font-size: 12px;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    background-color: var(--input-background-color);
    color: var(--input-text-color);
}

#sendButton {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: var(--button-background-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#sendButton:hover {
    background-color: var(--button-hover-background-color);
}

.copy-button {
    padding: 5px 10px;
    margin-left: 10px;
    background-color: var(--button-background-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.copy-button:hover {
    background-color: var(--button-hover-background-color);
}

#themeToggleButton {
    padding: 5px 10px;
    background-color: var(--button-background-color);
    font-size: 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#themeToggleButton:hover {
    background-color: var(--button-hover-background-color);
}

/* Sidebar styles */
.sidebar {
    position: fixed;
    right: -360px;
    top: 0;
    width: 320px;
    height: 100%;
    background-color: var(--sidebar-background-color);
    box-shadow: -2px 0 5px var(--sidebar-shadow-color);
    padding: 20px;
    transition: right 0.3s;
}

.sidebar.open {
    right: 0;
}

#sidebarToggleButton {
    position: fixed;
    top: 32px;
    right: 20px;
    z-index: 10;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

#systemPrompt {
    width: 100%;
    height: 50%;
}

/* Conversation list styles */
#conversationList {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid var(--border-color);
    background-color: var(--input-background-color);
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
}

.title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conversation-item {
    padding: 10px;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conversation-item:hover {
    background-color: var(--conversation-item-hover-background-color);
}

/* Highlight the selected conversation */
.conversation-item.selected {
    background-color: var(--selected-conversation-background-color);
}

/* Style for edit and delete buttons */
.conversation-item .edit-button,
.conversation-item .delete-button {
    margin-left: 10px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

#newConversationButton {
    padding: 5px 10px;
    margin-top: 10px;
    background-color: var(--button-background-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#newConversationButton:hover {
    background-color: var(--button-hover-background-color);
}

/* Conversation sidebar styles */
#conversationSidebar {
    position: fixed;
    left: -360px;
    top: 0;
    width: 320px;
    height: 100%;
    background-color: var(--sidebar-background-color);
    box-shadow: 2px 0 5px var(--sidebar-shadow-color);
    padding: 20px;
    transition: left 0.3s;
    z-index: 10;
}

#conversationSidebar.open {
    left: 0;
}

#conversationSidebarToggleButton {
    position: fixed;
    top: 32px;
    left: 20px;
    z-index: 20;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

/* Disable user input if no conversation is selected */
#userInput:disabled,
#sendButton:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
}

#downloadChatButton{
    padding: 5px 10px;
    margin-left: 10px;
    background-color: var(--button-background-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #e0faf1;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    animation: spin 1s linear infinite;
    margin: 10px auto;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}